{% extends 'note_app/index.html' %}
{% block myblock %}
{% load static %}

<div class="container">
    <div class="jumbotron">

        <h3>Intoducing TODO Website to manage and conquer your tasks !</h3>
        <br><br>
        
        <p>TODO is used to manage your tasks and also helps to remind you about the task to be completed so that you don't miss out on anything.
        </p>
        
        <p>This website provides user the authority to add,view,update and delete the items.
        </p>
        <br><br><br>
        <p>For any queries or feedbacks contact me on my linkedin handle : 
            <a href="https://www.linkedin.com/in/saish-wadkar/">Contact Me</a>
        </p>
        
         <p></p>
        <p>Thank you for you support. &#128522;  
        </p>
        <br><br>
        <p></p>
       
    </div>
</div>


{% endblock %}


