h1{
    text-align: center;
    font-family: 'odstemplikRegular';
    font-weight: bold;
    font-style: italic;
}

.tabledata{
    height: 300px;
    width: 150px;
    padding: 10px;
    border: 5px solid white;
}

.art{
    margin: auto;
}

#one{
    background-color: #8ecae6 ;
}

#two{
    background-color: #219ebc ;
}

#three{
    background-color: #023047 ;
}

#four{
    background-color: #ffb703 ;
}

#five{
    background-color: #fb8500 ;
}