/* h1{
    text-align: center;
    font-family: 'odstemplikRegular';
    font-weight: bold;
    font-style: italic;
}

.art{
    margin: auto;
}

#one{
    background-color: #8ecae6 ;
}

#two{
    background-color: #219ebc ;
}

#three{
    background-color: #023047 ;
}

#four{
    background-color: #ffb703 ;
}

#five{
    background-color: #fb8500 ;
}

/* 8ecae6
219ebc
023047
ffb703
fb8500 */

/* #ccd5ae 
#e9edc9
#fefae0
#faedcd
#d4a373 */